<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Ali Can Yücel EAppointment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/doctors" aria-current="page">Doktor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/patients">Hastalar</a>
        </li>
      </ul>
    <span class="me-2">Ali Can Yücel</span>
    <button (click)="SignOut()" class="btn btn-outline-danger">
        <i class="fa-solid fa-power-off"></i>
    </button>
    </div>
  </nav>