<div class="mt-3  d-flex justify-content-beetween align-items-center">
    <h3>Doktorlar</h3>
</div>
<div class="mt-3">
    <div class="form-group">
        <div class="row">
            <div class="col-xl-9 col-lg-8 md-6 col-sm-12 col-12">
                <button class="btn btn-dark">
                    <i class="fa-solid fa-plus  me-2"></i>
                  <span> Doktor Ekle</span> 
                </button>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 position-relative search-container">
                <input type="search" class="form-control" placeholder="Doktor arayın.">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
</div>
<div class="mt-3">
    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad Soyad</th>
                    <th>Branş</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @for(doctor of doctors;track doctor){
                    <tr>
                       <td>{{$index}}</td>
                      <td>{{doctor.fullName}}</td>
                      <td>{{doctor.department.name}}</td>
                      <td>
                        <button class="btn btn-sm btn-outline-primary me-2" title="Güncelle">
                            <i class="fa-solid fa-edit"></i>
                         
                        </button>
                        <button class="btn btn-sm btn-outline-danger" title="Sil">
                            <i class="fa-solid fa-trash"></i>
                         
                        </button>
                      </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>